# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/

# expo / metro
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# turbo
.turbo

# env
.env
.env.local
.env.*.local

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# testing / coverage
coverage

# misc
*.pem
.vercel
