@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 222 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 20% 15%;
    --primary: 214 22% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 14% 22%;
    --secondary-foreground: 210 16% 85%;
    --muted: 210 14% 94%;
    --muted-foreground: 215 12% 45%;
    --accent: 0 76% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 14% 85%;
    --input: 214 14% 85%;
    --ring: 199 68% 58%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-content text-foreground;
  }
}
